<a href="https://colab.research.google.com/github/SophiaU/Git_DoD_Remittance/blob/main/DoD_Reconciliation_File.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# install and import pygsheets
!pip install pygsheets
import pygsheets

#  Import PyDrive and associated libraries.
# This only needs to be done once per notebook.
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client.
# This only needs to be done once per notebook.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

# connect google sheets
import gspread
# import pygsheets
gc = gspread.authorize(GoogleCredentials.get_application_default())


# import json
# from google.oauth2 import service_account

# with open('service_account.json') as source:
#    info = json.load(source)
# credentials = service_account.Credentials.from_service_account_info(info)

# client = pygsheets.authorize(service_account_file='service_account.json')


# import pandas
import pandas as pd
from functools import reduce

Collecting pygsheets
  Downloading https://files.pythonhosted.org/packages/2a/21/09e19c00e37d7f936d19f5ceffb01c2ef471f9c48d90fde045a654e91cc8/pygsheets-2.0.5-py2.py3-none-any.whl (147kB)
     |████████████████████████████████| 153kB 5.3MB/s
Requirement already satisfied: google-api-python-client>=1.5.5 in /usr/local/lib/python3.7/dist-packages (from pygsheets) (1.12.8)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.7/dist-packages (from pygsheets) (0.4.4)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client>=1.5.5->pygsheets) (3.0.1)
Requirement already satisfied: six<2dev,>=1.13.0 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client>=1.5.5->pygsheets) (1.15.0)
Requirement already satisfied: google-auth-httplib2>=0.0.3 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client>=1.5.5->pygsheets) (0.0.4)
Requirement already satisfied: httplib2<1dev,>=0.15.0 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client>=1.5.5->pygsheets) (0.17.4)
Requirement already satisfied: google-api-core<2dev,>=1.21.0 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client>=1.5.5->pygsheets) (1.26.3)
Requirement already satisfied: google-auth>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client>=1.5.5->pygsheets) (1.32.1)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib->pygsheets) (1.3.0)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2dev,>=1.21.0->google-api-python-client>=1.5.5->pygsheets) (57.0.0)
Requirement already satisfied: packaging>=14.3 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2dev,>=1.21.0->google-api-python-client>=1.5.5->pygsheets) (21.0)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from google-api-core<2dev,>=1.21.0->google-api-python-client>=1.5.5->pygsheets) (2018.9)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2dev,>=1.21.0->google-api-python-client>=1.5.5->pygsheets) (1.53.0)
Requirement already satisfied: protobuf>=3.12.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2dev,>=1.21.0->google-api-python-client>=1.5.5->pygsheets) (3.17.3)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2dev,>=1.21.0->google-api-python-client>=1.5.5->pygsheets) (2.23.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.16.0->google-api-python-client>=1.5.5->pygsheets) (4.2.2)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.6" in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.16.0->google-api-python-client>=1.5.5->pygsheets) (4.7.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.16.0->google-api-python-client>=1.5.5->pygsheets) (0.2.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->pygsheets) (3.1.1)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=14.3->google-api-core<2dev,>=1.21.0->google-api-python-client>=1.5.5->pygsheets) (2.4.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<2dev,>=1.21.0->google-api-python-client>=1.5.5->pygsheets) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<2dev,>=1.21.0->google-api-python-client>=1.5.5->pygsheets) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<2dev,>=1.21.0->google-api-python-client>=1.5.5->pygsheets) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<2dev,>=1.21.0->google-api-python-client>=1.5.5->pygsheets) (2021.5.30)
Requirement already satisfied: pyasn1>=0.1.3 in /usr/local/lib/python3.7/dist-packages (from rsa<5,>=3.1.4; python_version >= "3.6"->google-auth>=1.16.0->google-api-python-client>=1.5.5->pygsheets) (0.4.8)
Installing collected packages: pygsheets
Successfully installed pygsheets-2.0.5

In [ ]:
weekFolderID = '1NS4RyHkmE6LHxoar3fS52Yxyp81C_BIK'

Combine Performance File

In [ ]:
# Append all files in folder into a listframe

listframe = []

weekFolder = drive.ListFile({'q': "'"+weekFolderID+"' in parents and  mimeType = 'application/vnd.google-apps.folder'"}).GetList()


for folder in weekFolder:
  if folder['title'] == 'Performance':
    files = drive.ListFile({'q': "not title contains '(7)' and not title contains '(6)' and '"+folder['id']+"' in parents and mimeType = 'text/csv' and trashed = false "}).GetList()
    for file in files:
      print(file['title'])
      # download
      fileDownloaded = drive.CreateFile({'id':file['id']})

      # load
      fileDownloaded.GetContentFile('performance.csv')

      # read
      df = pd.read_csv('performance.csv', delimiter=',' )

      # append
      listframe.append(df)

# combine all files in the list into a dataframe
wkperffile = pd.concat(listframe)

# pick only name, trips and supply hours
performancefile = wkperffile[['Name','Trips','Hours online']]
performancefile['Name'] = pd.Series(performancefile['Name']).str.title()

# convert hour online to just hours
performancefile['Hours online'] = pd.to_timedelta(performancefile['Hours online']).dt.total_seconds()/3600

# sum trips and hours by names
performancefile = performancefile.groupby(['Name']).sum().reset_index()
performancefile

driver_performance Jul 15(5).csv
driver_performance Jul 15(4).csv
driver_performance Jul 15(3).csv
driver_performance Jul 15(2).csv
driver_performance Jul 15(1).csv
driver_performance Jul 14(5).csv
driver_performance Jul 14(4).csv
driver_performance Jul 14(2).csv
driver_performance Jul 14(3).csv
driver_performance Jul 14(1).csv
driver_performance Jul 12(1).csv
driver_performance Jul 12(2).csv
driver_performance Jul 12(3).csv
driver_performance Jul 12(4).csv
driver_performance Jul 12(5).csv
driver_performance Jul 13(5).csv
driver_performance Jul 13(1).csv
driver_performance Jul 13(4).csv
driver_performance Jul 13(3).csv
driver_performance Jul 13(2).csv

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                            Name  Trips  Hours online
0               Abimbola Omojuwa     33          36.9
1                Abiodun Adedeji     34          48.7
2                Abiodun Onamosu     48          46.3
3           Abiodun Sunday Adisa     31          32.9
4         Adebayo Muyideen Alimi     36          35.5
..                           ...    ...           ...
340          Williams Aikhuemero     32          42.2
341  Williams Nwadinobi Anunukem     32          40.4
342                 Wisdom Akpan     39          49.4
343     Yetunde Samiat Shobowale     13          19.5
344   Zainab Oluwasefunmi Atuaka      6           6.4

[345 rows x 3 columns]

In [ ]:
#  Append all files in folder into a listframe
paymentslistframe = []

for folder in weekFolder:
  if folder['title'] == 'Payments':
    files = drive.ListFile({'q': "not title contains '(7)' and not title contains '(6)' and '"+folder['id']+"' in parents and mimeType = 'text/csv' and trashed = false "}).GetList()
    for file in files:
      # print(file['title'])

      # download
      fileDownloaded = drive.CreateFile({'id':file['id']})

      # load
      fileDownloaded.GetContentFile('payments.csv')

      # read
      df = pd.read_csv('payments.csv', delimiter=',' )

      # append
      paymentslistframe.append(df)

# combine all files in the list into a dataframe
combinedPayments = pd.concat(paymentslistframe)

# concatenate the names
combinedPayments['Name'] = combinedPayments['firstName'] + " " + combinedPayments['lastName']
combinedPayments['Name'] = pd.Series(combinedPayments['Name']).str.title()
combinedPayments = combinedPayments[['Name','driverUUID', 'tripUUID', 'firstName', 'lastName', 'amount','timestamp', 'itemType', 'description', 'disclaimer']]

# pick only fullname, amount and itemtype
paymentsfile = combinedPayments[['Name','driverUUID','amount','itemType']]

# get net earnings
# drop cash collected itemtype
netEarnings = paymentsfile.loc[paymentsfile['itemType'] != 'cash_collected']

# drop payouts itemtype
netEarnings = netEarnings.loc[netEarnings['itemType'] != 'payouts']

# sum amounts by names to get the net earnings per driver
netEarnings = netEarnings.groupby(['driverUUID']).sum().reset_index()
netEarnings.columns = ['driverUUID','Net Earnings']
# netEarnings['Name'] = pd.Series(netEarnings['Name']).str.title()
netEarnings.head(400)

# get total cash collected
# get cash collected itemtype
cashCollected = paymentsfile.loc[paymentsfile['itemType'] == 'cash_collected']

# sum amounts by names to get the cash collected per driver
cashCollected = cashCollected.groupby(['driverUUID']).sum().reset_index()
cashCollected.columns = ['driverUUID', 'Cash Collected']
# cashCollected['Name'] = pd.Series(cashCollected['Name']).str.title()
cashCollected.head(400)

# combinedPayments.head(400)

                               driverUUID  Cash Collected
0    001319fb-c6f6-4849-a062-515e59dc0689        -63300.0
1    0073465c-8143-49c6-a37a-4f0b29738c05        -27900.0
2    0078ddf7-9f70-4fc1-bf93-80a5114dfbfc         -8400.0
3    011bfaae-ef9c-40c4-b49a-5acfc3f5e56c        -43200.0
4    01ef8975-0e8c-41a1-982e-f3ded75449a5        -32400.0
..                                    ...             ...
339  fb2060b2-b6a4-4e59-b411-a6fa2c5623a0        -44100.0
340  fb49c327-2bac-4479-8866-fad76b89e207        -50300.0
341  fbbb9e0a-dd81-4778-866d-fc162755f26f        -17400.0
342  fce722ca-e6db-456e-842d-ea22857d4cb1        -11200.0
343  fd806920-f9f3-408c-bfe0-fcf1446a4745        -37100.0

[344 rows x 2 columns]

In [ ]:
#Add Driver Uber ID to Performance file

uniqueID = combinedPayments.groupby(['Name','driverUUID']).sum().reset_index()

# uniqueID = combinedPayments.drop_duplicates(
#   subset = ['Name', 'driverUUID'],
#   keep = 'last').reset_index(drop = True)

performancefile1 = pd.merge(performancefile, uniqueID[['Name','driverUUID']], on='Name', how='left')
performancefile1 = performancefile1[['Name','Trips','Hours online','driverUUID']]
performancefile1 = performancefile1.groupby(['driverUUID']).sum().reset_index()
performancefile1


# NameCheck = performancefile1.query('driverUUID == "de90e988-5c1d-4ee7-ae7d-0a1418cdd111"')
# NameCheck = performancefile1.query('Name == "Onyeka Aigbaze"')     # Isiaq Jamiu Akanbi
# NameCheck

                               driverUUID  Trips  Hours online
0    001319fb-c6f6-4849-a062-515e59dc0689     40          51.1
1    0073465c-8143-49c6-a37a-4f0b29738c05     22          31.2
2    0078ddf7-9f70-4fc1-bf93-80a5114dfbfc      4           5.3
3    011bfaae-ef9c-40c4-b49a-5acfc3f5e56c     40          54.2
4    01ef8975-0e8c-41a1-982e-f3ded75449a5     48          35.1
..                                    ...    ...           ...
339  fb2060b2-b6a4-4e59-b411-a6fa2c5623a0     30          47.9
340  fb49c327-2bac-4479-8866-fad76b89e207     49          36.0
341  fbbb9e0a-dd81-4778-866d-fc162755f26f     28          28.0
342  fce722ca-e6db-456e-842d-ea22857d4cb1      8           9.2
343  fd806920-f9f3-408c-bfe0-fcf1446a4745     27          36.1

[344 rows x 3 columns]

In [ ]:
performancefile1.head(400)

                               driverUUID  Trips  Hours online
0    001319fb-c6f6-4849-a062-515e59dc0689     40          51.1
1    0073465c-8143-49c6-a37a-4f0b29738c05     22          31.2
2    0078ddf7-9f70-4fc1-bf93-80a5114dfbfc      4           5.3
3    011bfaae-ef9c-40c4-b49a-5acfc3f5e56c     40          54.2
4    01ef8975-0e8c-41a1-982e-f3ded75449a5     48          35.1
..                                    ...    ...           ...
339  fb2060b2-b6a4-4e59-b411-a6fa2c5623a0     30          47.9
340  fb49c327-2bac-4479-8866-fad76b89e207     49          36.0
341  fbbb9e0a-dd81-4778-866d-fc162755f26f     28          28.0
342  fce722ca-e6db-456e-842d-ea22857d4cb1      8           9.2
343  fd806920-f9f3-408c-bfe0-fcf1446a4745     27          36.1

[344 rows x 3 columns]

Get Moove Details

In [ ]:
# get moove details
mooveDetailList =[]
worksheet = gc.open_by_key('1Q3BJcXwRncZiiB3GAYw1CNN-RWOWjt4AyUHxjs_Kztg').sheet1
for i in range(2,6):
  columns = worksheet.col_values(i)
  mooveDetailList.append(columns[1:])

# print(mooveDetailList)

# convert list to data frame
mooveDetails = pd.DataFrame(mooveDetailList)
mooveDetails = mooveDetails.T
mooveDetails.columns = ['Name','Product','DRN','driverUUID']
mooveDetails['Name'] = pd.Series(mooveDetails['Name']).str.title()
#print(mooveDetails)
mooveDetails

                         Name  ...                            driverUUID
0                Inwang Ubong  ...  4ed6faed-e165-4a8b-8e47-9a24433ddb91
1              Adeola Okusaga  ...  b2e4d5a7-fbae-49a2-be3a-4ba1b9f179f5
2               Temitope Tayo  ...
3            Chiegeokwu Amaju  ...  0f23e379-8b69-4233-9497-0ad579a2f60a
4        Adanna Cythia Nwanna  ...  0af65713-855a-4a7f-8d15-5fca9dbfecbb
..                        ...  ...                                   ...
930        Paul Akere Omokaro  ...
931  Kelechi Oluwatoba Okorie  ...  ba59a846-4044-4fae-84c6-81a9628fd6b7
932   Omololu Kehinde Sotonwa  ...  a1660b79-4752-4dfd-a79b-3bc14db3163d
933  Aimuanmwosa Amos Asemota  ...
934              Ijeoma Njoku  ...  e0494b8c-8723-4b0a-a7b2-b486d3bc6bbc

[935 rows x 4 columns]

Virtual Accounts Data

In [ ]:
fileid = '1DRk8HYz_HPu_K8jzGEQB_N2hu5StgaWo'

folder = drive.ListFile({'q': "'"+fileid+"' in parents and mimeType = 'text/csv' and trashed = false "}).GetList()
for file in folder:
  # print(file['title'])

  # download
  fileDownloaded = drive.CreateFile({'id':file['id']})

  # load
  fileDownloaded.GetContentFile('VirtualAccount.csv')

  # read
  VirtualAccountDF = pd.read_csv('VirtualAccount.csv', delimiter=',' )

# select only drn and amount
VirtualAcctDF = VirtualAccountDF[['drn','amount']]  
VirtualAcctDF.rename(columns={'drn':'DRN'}, inplace=True)

# Sum Amount
sumVA = VirtualAcctDF.groupby(['DRN']).sum().reset_index()
sumVA.rename(columns={'amount':'VA Collections'}, inplace=True)

# count amount
countVA = VirtualAcctDF.groupby(['DRN']).count().reset_index()
countVA.rename(columns={'amount':'VA Transactions'}, inplace=True)

print(sumVA)
print(countVA)

          DRN  VA Collections
0   DRN000466           14300
1   DRN000554           15800
2   DRN000574           16760
3   DRN000603            1700
4   DRN000665           24300
5   DRN000762           10800
6   DRN000924             700
7   DRN001060            6868
8   DRN001086            1600
9   DRN001093            2100
10  DRN001112           18700
11  DRN001186           18900
12  DRN001274            1700
13  DRN001312            1300
14  DRN001482            1400
15  DRN001511           14900
16  DRN001534           17900
17  DRN001623            2000
18  DRN001649            7700
19  DRN001751            4400
20  DRN001778            1400
21  DRN001875           12000
22  DRN001957            2300
23  DRN002005           12050
24  DRN002089           18800
25  DRN002172           10300
26  DRN002283            1200
          DRN  VA Transactions
0   DRN000466                6
1   DRN000554                7
2   DRN000574               23
3   DRN000603                1
4   DRN000665               10
5   DRN000762                6
6   DRN000924                1
7   DRN001060               20
8   DRN001086                1
9   DRN001093                2
10  DRN001112                9
11  DRN001186               20
12  DRN001274                1
13  DRN001312                1
14  DRN001482                2
15  DRN001511                4
16  DRN001534               10
17  DRN001623                1
18  DRN001649                3
19  DRN001751                3
20  DRN001778                2
21  DRN001875                6
22  DRN001957                1
23  DRN002005               15
24  DRN002089                9
25  DRN002172                7
26  DRN002283                1

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Days with Car Data

In [ ]:
# get moove details
daysWithCarlList =[]
carsWorksheet = gc.open_by_key('1_hFrUFt5qoXbah9tLyQLnbmTZFPzeySYGYBnPjE3eZQ').sheet1
for i in range(10,12):
  columns = carsWorksheet.col_values(i)
  daysWithCarlList.append(columns[1:])

# print(mooveDetailList)

# convert list to data frame
daysWithCar = pd.DataFrame(daysWithCarlList)
daysWithCar = daysWithCar.T
daysWithCar.columns = ['DRN','Effective Days']
daysWithCar['DRN'] = pd.Series(daysWithCar['DRN']).str.strip()

# Borrowed from weekly script
# daysWithCar = pd.merge(daysWithCar,mooveDetails,how='left', on='DRN')
daysWithCar
#print(daysWithCar)

           DRN Effective Days
0    DRN001222              1
1    DRN000385              2
2    DRN001758              1
3    DRN001693              3
4    DRN000504              2
..         ...            ...
360  DRN002503             -1
361  DRN002652             -1
362  DRN002296             -1
363  DRN002658             -1
364  DRN001685             -1

[365 rows x 2 columns]

Combine Performance, Earnings and Moove Details

In [ ]:
# join elements of the final payments file
dfs = [performancefile1,netEarnings, cashCollected, mooveDetails]

# join on Name
reconfile = reduce(lambda left,right: pd.merge(left,right,how='left', on='driverUUID'), dfs)

# join on DRN
dfs = [reconfile,sumVA, countVA,daysWithCar]
reconfile = reduce(lambda left,right: pd.merge(left,right,how='left', on='DRN'), dfs)

reconfile['Cash Collected'] = -reconfile['Cash Collected']
reconfile['Uber Balance'] = reconfile['Net Earnings'] - reconfile['Cash Collected']
reconfile['VA Transactions'] = reconfile['VA Transactions'].fillna(0).astype(int)
reconfile['VA Collections'] = reconfile['VA Collections'].fillna(0)
reconfile['VA Incentive'] = pd.DataFrame(map(lambda x: 7000 if x >= 20 else x * 100, reconfile['VA Transactions']))

reconfile = reconfile[['DRN', 'Name', 'Product', 'Uber Balance', 'Cash Collected', 'Net Earnings', 
        'Trips', 'Hours online','Effective Days','driverUUID']]
# reconfile['Name'] = pd.Series(reconfile['Name']).str.title()
reconfile.head(400)

           DRN  ...                            driverUUID
0    DRN001694  ...  001319fb-c6f6-4849-a062-515e59dc0689
1    DRN000423  ...  0073465c-8143-49c6-a37a-4f0b29738c05
2    DRN002312  ...  0078ddf7-9f70-4fc1-bf93-80a5114dfbfc
3    DRN000594  ...  011bfaae-ef9c-40c4-b49a-5acfc3f5e56c
4    DRN000667  ...  01ef8975-0e8c-41a1-982e-f3ded75449a5
..         ...  ...                                   ...
339  DRN001535  ...  fb2060b2-b6a4-4e59-b411-a6fa2c5623a0
340  DRN000558  ...  fb49c327-2bac-4479-8866-fad76b89e207
341  DRN000797  ...  fbbb9e0a-dd81-4778-866d-fc162755f26f
342  DRN001957  ...  fce722ca-e6db-456e-842d-ea22857d4cb1
343  DRN002086  ...  fd806920-f9f3-408c-bfe0-fcf1446a4745

[344 rows x 10 columns]

Upload File to Google Drive

In [ ]:
# # export to csv
reconfile_csv = reconfile.to_csv( "reconfile_15thJul.csv", index=False, encoding='utf-8-sig')

file2 = drive.CreateFile({'parents': [{'id': '15w_MeKLpCE2hs8-Vvs4IUBH_sZ8e3qbP'}]})
file2.SetContentFile("reconfile_15thJul.csv")
file2.Upload()

In [ ]:
# #  export to csv
paymentsCombined_csv = combinedPayments.to_csv( "paymentsfile_15thJul.csv", index=False, encoding='utf-8-sig')

file2 = drive.CreateFile({'parents': [{'id': '15w_MeKLpCE2hs8-Vvs4IUBH_sZ8e3qbP'}]})
file2.SetContentFile("paymentsfile_15thJul.csv")
file2.Upload()

Write reconciled files into google sheets

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving serviceaccount.json to serviceaccount.json

In [ ]:
import json
from google.oauth2 import service_account

with open('serviceaccount.json') as source:
    info = json.load(source)
credentials = service_account.Credentials.from_service_account_info(info)

client = pygsheets.authorize(service_account_file='serviceaccount.json')

In [ ]:
reconSheet = client.open_by_key('1r6_Kn4mFKhfSrFKShJN7ouBSNuCQ8cfhVZTlKsU_wo8')
sheet1 = reconSheet[0]

sheet1.set_dataframe(reconfile,(1,1))

In [ ]:
# create new sheet for the week

# weekname = "May 11"
# sh = gc.open_by_key('1Q3BJcXwRncZiiB3GAYw1CNN-RWOWjt4AyUHxjs_Kztg')
# weeksheet = sh.add_worksheet(title=weekname, rows="100", cols="10")

In [ ]:
# for item in dir(wks):
#   if not item.startswith("_"):
#     print(item)

In [ ]:
# weekperformance = pd.merge(wkperffile,mooveDetails, how='left', on='Name')
# weekperformance = weekperformance[['DRN', 'Name',  'Product', 'Net Fares', 'Per trip', 'Per hour online', 'Per km on trip',
#        'Trips', 'Hours online', 'Trips per hour', 'Distance per trip',
#        'Ratings', 'Lifetime rating', 'Acceptance rate',
#        'Driver cancellation rate' ]]
# # worksheetrange = weeksheet.range('B1:P1')
# weeksheet.set_dataframe(weekperformance, start=(1,1))

In [ ]:
# combinedPayments = combinedPayments[['Name','driverUUID', 'tripUUID', 'firstName', 'lastName', 'amount',
#        'timestamp', 'itemType', 'description', 'disclaimer']]
# dtoearnings = client.open_by_key('1ijlQsyalGJdHesighUmYFgzQYEELLQS6ZxixT9cLszo')
# wks = dtoearnings[1]

# wks.set_dataframe(combinedPayments,(1,2))

In [ ]:
wks.get_col(2,include_tailing_empty=False).count?

Object `count` not found.